<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Littlify</title>
</head>
<body>
    <h1>Welcome to Littlify!!</h1>
    <div>
        <form action="/shorten" method="post">
            <input type="url" name="url" id="url" placeholder="Enter the link here">
            <input type="text" name="custom_id" placeholder="Any custom short id? (optional)">
            <button class="buttons shorten">Shorten URL</button>
        </form>
    </div>
</body>
</html>